PORT=
NODE_ENV=
CORS_ORIGIN=""
DATABASE_URL=""
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""
SEED_ACCOUNTANT_PASSWORD=""
STORAGE_PROVIDER=""
LOCAL_UPLOAD_PATH=""
MAX_ATTACHMENT_SIZE_MB=10